<div class="full-h" *ngIf="artist">
    <div class="banner" style="background-image: url(data:image/jpeg;base64,{{artist.banner}});">
        <div class="gradient">
        <div class="img-profile is-size-5" >
            <img src="data:image/jpeg;base64,{{artist.profile_image}}">
            <div>
                <p class="is-size-1">{{artist.artist_name}}</p>
            </div>
        </div>
        <div class="artist-buttons">    
            <button (click)="load(artist.songs, 0)" class="my-button"><i class="fa-solid fa-play"></i> Play</button>
            <button *ngIf="!artist.fav && username != artist.artist_name" (click)="followArtist(artist)" class="my-button my-button-confirm"><i class="fa-solid fa-plus"></i> Follow</button>
            <button *ngIf="artist.fav && username != artist.artist_name" (click)="unfollowArtist(artist)" class="my-button my-button-remove   "><i class="fa-solid fa-xmark"></i> Unfollow</button>
        </div>
    </div>
</div>
    <div class="separator"></div>
    <h1 class="is-size-4 my-h1" fxLayoutAlign="center">Songs</h1>
    <div class="song-list">
        <ul>
            <li *ngFor="let song of artist.songs; let i=index">
                <div class="song">
                    <span (click)="load(artist.songs, i)">{{(i+1)}}</span>
                    <img (click)="load(artist.songs, i)" src="data:image/jpeg;base64,{{song.cover_img}}" style="max-width: 50px;">
                    <div class="info-song" (click)="load(artist.songs, i)">
                        <p class="ellipsis">{{song.name}}</p>
                        <p>by {{song.artist_name}}</p>
                    </div>

                    <i (click)="removeToFav(song)" *ngIf="song.fav" class="fa-solid fa-heart my-icon-color"></i>
                    <i (click)="addToFav(song)" *ngIf="!song.fav" class="fa-regular fa-heart"></i>
                    
                    <i (click)="openSubMenu(artist.songs, i, artist.playlist_id, artist.creator_name == username)" class="fa-solid fa-ellipsis-vertical"></i>
                </div>  
            </li>
        </ul>
    </div>
    <div class="separator"></div>  
    <h1 class="is-size-4 my-h1" fxLayoutAlign="center">Albums</h1>
    <div class="home-content">
        <div class="card my-card" *ngFor="let album of artist.albums" (click)="goTo(album.album_id)">
            <div class="card-content">
                <img src="data:image/jpeg;base64,{{album.cover_image}}">
                <div>
                    <p class="ellipsis">{{album.name}}</p>
                </div>
            </div>
        </div>
    </div>
    
</div>