<div class="full-h">
    <div class="logo"><img src="../../assets/img/logo.png"></div>
    <h1 class="is-size-4 my-h1" fxLayoutAlign="center">GET STARTED</h1>
    <div class="content">
        
        
        <p>Start to listen music right now, creating a new account or login</p>

        <div class="buttons">
            <a class="button my-button my-button-confirm" routerLink="login">
                Login
            </a>
            <a class="button my-button my-button-confirm" routerLink="register">
                Register
            </a>
        </div>
    </div>
</div>