@use '../../vars' as *;

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: $dark-text-color;
    img{
        width: 150px;
    }
}
.content{
    background-color: $bg-color;
    padding: 5%;

    .buttons{
        justify-content: center;
    }
}