@use "vars" as *;
body{
    background-color: #292929;
    color: $text-color;
}

// SIDENAV

.closeSideNav{
    transform: translateX(-250px);
}
.openSideNav{
    position: absolute;

}

#sideNav{
    width: 250px;
    float: left;
    background-color: $dark-text-color;
    height: 100vh;
    position: absolute;
    transition: all 0.5s ease;
    z-index: 99;
}
.slide{
  width: 100%;
  height: 50px;
  border: none;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  color: $text-color;
  transition: 0.25s;
  &:hover,&:focus {
      box-shadow: inset -25em 0 0 0 $cyan;
  }
}

.my-input{
    border: none;
    background: none;
    color:  $text-color;
    border-bottom: 2px solid $purple;
    border-color: $gradient;
    font-size: 15px;
    
    &:focus-visible{
        outline: none;
        border-color: $cyan;
    }
    
}
.my-button{
    min-width: 85px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: $purple;
    font-weight: bold;
    color: $dark-text-color;
    transition: 0.25s;
    &:hover {
        box-shadow: inset 0 -3.25em 0 0 $dark-purple;
    }
}
.my-button-confirm{
    background-color: $cyan;
    &:hover {
        box-shadow: inset 0 -3.25em 0 0 $dark-cyan;
    }

}
.my-button-remove{
    background-color: $red;
    &:hover {
        box-shadow: inset 0 -3.25em 0 0 $dark-red;
    }

}
// Full height
.full-h{
    min-height: 100vh;
}
.img-profile{
    display: flex;
    align-items: center;
    margin: 20px;
    img{
        width: 20%;
        border-radius: 100%;
        margin-right: 30px;
    }
}
.separator{
    height: 5px;
    background: $gradient;
    margin-bottom: 10px;
}
.info-user{
    overflow-x: auto;
    display: flex;
    width: 70%;
    margin: auto;
    padding-bottom: 5%;
    .data-user{
        padding-left: 10px;
    }
    p,.my-input{
        padding-bottom: 5px;
    }        
}
.buttons{
    padding: 15px;
}
.table-data-profile{
    margin: auto;
    width: 70%;
    td{
        padding: 5px;
    }
}

// card
.my-card{
    max-width: 47%;
    background-color: $bg-color-1;
    color: $text-color;
    border-radius: 10px;
    margin-top: 5%;
    img{
        border-radius: 10px;
    }
}
.home-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 5% 0 5%;
}
.ellipsis{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
}
.my-icon-color{
    color: $purple;
}