@use "vars" as *;
@use "progressbar-style";
@use "scroll-bar";

body, html{
    background-color: $bg-color;
    color: $text-color;
}

.my-h1{
    background-color: $dark-text-color;
    font-weight: bold;
}

.slide{
    cursor: pointer !important;
    width: 100%;
    height: 50px;
    border: none;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    color: $text-color;
    transition: 0.25s;
    &:hover,&:focus {
        box-shadow: inset -25em 0 0 0 $cyan;
    }
}
.slide-separator{
    width: 100%;
    height: 50px;
    border: none;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    color: $gray;
}
.slide-close{
    &:hover,&:focus {
        box-shadow: inset -25em 0 0 0 $red;
    }
}

.my-input{
    border: none;
    background: none;
    color:  $text-color;
    border-bottom: 2px solid $purple;
    border-color: $gradient;
    font-size: 15px;
    
    &:focus-visible{
        outline: none;
        border-color: $cyan;
    }
    
}
.my-input-no-border{
    border: none !important;
}
.my-input-center{
    font-weight: bold;
    text-align: center;
}
.my-button{
    min-width: 85px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: $purple;
    font-weight: bold;
    color: $dark-text-color;
    transition: 0.25s;
    &:hover {
        box-shadow: inset 0 -3.25em 0 0 $dark-purple;
    }
}
.my-button-confirm{
    background-color: $cyan;
    &:hover {
        box-shadow: inset 0 -3.25em 0 0 $dark-cyan;
    }
    
}
.my-button-remove{
    background-color: $red;
    &:hover {
        box-shadow: inset 0 -3.25em 0 0 $dark-red;
    }
    
}
// Full height
.full-h{
    min-height: 100vh;
}


.separator{
    height: 5px;
    background: $gradient;
    margin-bottom: 10px;
}
// card
.my-card{
    max-width: 47%;
    background-color: $bg-color-1;
    color: $text-color;
    border-radius: 10px;
    margin-top: 5%;
    img{
        border-radius: 10px;
        width: 10000px;
    }
}
.home-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 5% 0 5%;
    padding-bottom: 5%;
}
.ellipsis{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
}
.my-icon-color{
    color: $purple;
}
.my-button-little{
    min-width: 0;
    width: 25px;
    height: 25px;
    padding: 1px;
    border-radius: 15px;
}
.current-song-body{
    margin-bottom: 110px;
}
.my-form{
    background-color: $bg-color-1;
    color: $text-color;
    label{
        color: $text-color;
    }
    input{
        background-color: $bg-color;
        border-color: $bg-color;
        color: $text-color;
        &::placeholder{
            color: $gray;
        }
        &:focus{
            border-color: $cyan;
        }
    }
}