@use "vars" as *;
@use "progressbar-style";

body{
    background-color: #292929;
    color: $text-color;
    margin-bottom:100px;

}
// SIDENAV

.closeSideNav{
    transform: translateX(-250px);
}
.openSideNav{
    position: absolute;

}

#sideNav{
    width: 250px;
    float: left;
    background-color: $dark-text-color;
    height: 100vh;
    position: absolute;
    transition: all 0.5s ease;
    z-index: 99;
}
.slide{
  width: 100%;
  height: 50px;
  border: none;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  color: $text-color;
  transition: 0.25s;
  &:hover,&:focus {
      box-shadow: inset -25em 0 0 0 $cyan;
  }
}

.my-input{
    border: none;
    background: none;
    color:  $text-color;
    border-bottom: 2px solid $purple;
    border-color: $gradient;
    font-size: 15px;
    
    &:focus-visible{
        outline: none;
        border-color: $cyan;
    }
    
}
.my-input-no-border{
    border: none !important;
}
.my-input-center{
    font-weight: bold;
    text-align: center;
}
.my-button{
    min-width: 85px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: $purple;
    font-weight: bold;
    color: $dark-text-color;
    transition: 0.25s;
    &:hover {
        box-shadow: inset 0 -3.25em 0 0 $dark-purple;
    }
}
.my-button-confirm{
    background-color: $cyan;
    &:hover {
        box-shadow: inset 0 -3.25em 0 0 $dark-cyan;
    }

}
.my-button-remove{
    background-color: $red;
    &:hover {
        box-shadow: inset 0 -3.25em 0 0 $dark-red;
    }

}
// Full height
.full-h{
    min-height: 100vh;
}

.separator{
    height: 5px;
    background: $gradient;
    margin-bottom: 10px;
}
// card
.my-card{
    max-width: 47%;
    background-color: $bg-color-1;
    color: $text-color;
    border-radius: 10px;
    margin-top: 5%;
    img{
        border-radius: 10px;
    }
}
.home-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 5% 0 5%;
}
.ellipsis{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
}
.my-icon-color{
    color: $purple;
}
.my-button-little{
    min-width: 0;
    width: 25px;
    height: 25px;
    padding: 1px;
    border-radius: 15px;
}