// @forward "vars";
$text-color: #FAFAFA;
$dark-text-color: #1f1f1f;
$purple: #bb86fc;
$dark-purple: #7b35d7;
$cyan: #03dac6;
$dark-cyan: #0a9b8c;
$bg-color-1: #363636;
$gradient: linear-gradient(90deg, $purple 0%, $cyan 100%);