// @forward "vars";
$text-color: #FAFAFA;
$dark-text-color: #1f1f1f;
$purple: #bb86fc;
$dark-purple: #7b35d7;
$cyan: #03dac6;
$dark-cyan: #0a9b8c;
$red: #CF6679;
$dark-red: #974c59;
$bg-color: #292929;
$bg-color-1: #363636;
$black-50: #21212180;
$black-80: #212121cc;
$gray: #666666;
$blue-verified: #0199e4;
$gradient: linear-gradient(90deg, $purple 0%, $cyan 100%);