@use "../../vars" as *;


#progress-bar{
    position: fixed;
    height: 110px;
    background-color: $dark-text-color;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    .progress-bar-div{
        width: 100%;
        margin: auto;
        #currentMusic{
            width: 100%;
            height: 5px !important;
        }
    }
    .data-song{
        width: 50%;
        padding-right: 10px;
    }
    img{
        width: 50px;
        height: 50px;
        margin-right: 10px;
    }
    .info-song{
        display: flex;
        
    }
    .duration{
        display: flex;
        justify-content: space-between;
    }
    .buttons{
        width: 35%;
        display: flex;
        justify-content: space-around;
        i{
            font-size: 1.5em;
        }
    }
    i{
        font-size: 2em;
    }
}

.fixed-song{
    top: 0px;
    position: absolute;
    .img-blur{

        position: absolute;
        height: 75vh;
        top: 0px;
        width: 100%;
        filter: blur(8px);
        -webkit-filter: blur(8px);

        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        z-index: -1;
    }
    .icon-div{
        position: absolute;
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 5px;
    }
    .div-img{
        min-height: 75vh;
        max-height: 75vh;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 10%;
        // flex-direction: column;
        // justify-content: center;

        background-color: $black-50;

        img{
            width: 100% !important;
            height: 100% !important;
            max-width: 500px;
            max-height: 500px;
        }
    }
    .content-song{
        background-color: $dark-text-color;
        padding: 0px 10px 10px 10px;
        .data-div{
            display: flex;
            .data-song{
                width: 80% !important;
            }
            .name-buttons{
                width: 40%;
                display: flex;
                align-items: center;
                justify-content: space-between;

                i{
                    font-size: 1.5em !important;
                }
            }
        }
        .progress-bar-div{
            .duration{
                display: flex;
                justify-content: space-between;
            }
        }
    }
    .main-buttons{
        display: flex;
        justify-content: space-evenly;
        div{
            width: 30%;
        }
        i{
            text-align: center;
        }
    }
}

#volume{
    background: none;
    width: 100px;
    right: -25px;
    height: auto;
    border: solid $dark-text-color 10px;
    position: absolute;
    transform: rotate(270deg) translateX(70px);
}
.closed-volume-menu{
    display: none;
}