<app-sidenav></app-sidenav>
<div *ngIf="showHome();" class="full-h">

    <div *ngIf="favAlbums">
        <h1 class="is-size-4 my-h1" fxLayoutAlign="center">My Favorite Albums</h1>
        <div class="home-content">
            <div class="card my-card" *ngFor="let item of favAlbums" routerLink="songs/{{item.album_id}}">
                <div class="card-content">
                    <img src="data:image/jpeg;base64,{{item.cover_image}}">
                    <div>
                        <p class="ellipsis">{{item.name}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="myPlaylists">
        <h1 class="is-size-4 my-h1" fxLayoutAlign="center">My Playlists</h1>
        <div class="home-content">
            <div class="card my-card" *ngFor="let myPlaylist of myPlaylists" routerLink="playlist/{{myPlaylist.playlist_id}}">
                <div class="card-content">
                    <img src="data:image/jpeg;base64,{{myPlaylist.cover_image}}">
                    <div>
                        <p class="ellipsis">{{myPlaylist.name}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div *ngIf="followedPlaylists">
        <h1 class="is-size-4 my-h1" fxLayoutAlign="center">Followed Playlists</h1>
        <div class="home-content">
            <div class="card my-card" *ngFor="let playlist of followedPlaylists" routerLink="playlist/{{playlist.playlist_id}}">
                <div class="card-content">
                    <img src="data:image/jpeg;base64,{{playlist.playlist_img}}">
                    <div>
                        <p class="ellipsis">{{playlist.name}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="followedArtists">
        <h1 class="is-size-4 my-h1" fxLayoutAlign="center">Followed Artist</h1>
        <div class="home-content">
            <div class="card my-card" *ngFor="let artist of followedArtists" routerLink="artist/{{artist.artist_id}}">
                <div class="card-content">
                    <img src="data:image/jpeg;base64,{{artist.artist_image}}">
                    <div>
                        <p class="ellipsis">{{artist.artist_name}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div *ngIf="items">
        <h1 class="is-size-4 my-h1" fxLayoutAlign="center">Recomendated Songs/Albums</h1>
        <div class="home-content">
            <div class="card my-card" *ngFor="let item of items" routerLink="songs/{{item.album_id}}">
                <div class="card-content">
                    <img src="data:image/jpeg;base64,{{item.cover_image}}">
                    <div>
                        <p class="ellipsis">{{item.name}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="playlists">
        <h1 class="is-size-4 my-h1" fxLayoutAlign="center">Recomendated Playlists</h1>
        <div class="home-content">
            <div class="card my-card" *ngFor="let playlist of playlists" routerLink="playlist/{{playlist.playlist_id}}">
                <div class="card-content">
                    <img src="data:image/jpeg;base64,{{playlist.playlist_img}}">
                    <div>
                        <p class="ellipsis">{{playlist.name}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="artists">
        <h1 class="is-size-4 my-h1" fxLayoutAlign="center">Recomendated Artists</h1>
        <div class="home-content">
            <div class="card my-card" *ngFor="let artist of artists" routerLink="artist/{{artist.artist_id}}">
                <div class="card-content">
                    <img src="data:image/jpeg;base64,{{artist.artist_image}}">
                    <div>
                        <p class="ellipsis">{{artist.artist_name}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>


<router-outlet></router-outlet>


<div id="subMenuSong" *ngIf="subMenuSong">
    <!-- subMenuSongCurrentSong -->
    <div>
        <ul>
            <li class="img-li"><img src="data:image/jpeg;base64,{{subMenuData.currentSong.cover_img}}"></li>
            <li class="li-center">{{subMenuData.currentSong.name}}</li>
            <li class="li-center">{{subMenuData.currentSong.artist_name}}</li>
            <li (click)="loadMusic(subMenuData.playlist, subMenuData.index); subMenuDisplay()" class="slide">Play</li>
            <li (click)="goToArtist(subMenuData.currentSong.artist_id); subMenuDisplay()" class="slide">Go to artist</li>
            <!-- create playlist if length == 0 -->
            <div *ngIf="myPlaylists && (subMenuData.playlist_id == null || !subMenuData.isMyPlaylist)">
                <li class="li-center add-playlist">Add to playlist</li>
                <li class="slide" *ngFor="let playlist of myPlaylists" (click)="addToPlaylist(subMenuData.currentSong, playlist); subMenuDisplay()">
                    {{playlist.name}}
                </li>
            </div>
            <div *ngIf="myPlaylists==undefined">
                <li class="li-center add-playlist">Add to playlist</li>
                <li (click)="createPlaylist()" class="slide">Create playlist</li>
            </div>
            <div *ngIf="subMenuData.playlist_id != null && subMenuData.isMyPlaylist">
                <li (click)="removeToPlaylist(subMenuData.currentSong, subMenuData.playlist_id)" class="slide">Remove to playlist</li>
            </div>
            
            <li class="slide close" (click)="subMenuDisplay()">Close</li>
        </ul>
    </div>
</div>


<div id="progress-bar" *ngIf="currentSong && !displaySong">
    <div class="conten-song">
        
        <div class="progress-bar-div">
            <input type="range" id="currentMusic" min="0" max="{{durationImput}}" [value]="currentTimeInput" (input)="setTime($event)">
            
            
            <div class="duration">
                <span>{{currentTime}}</span>
                <span>{{duration}}</span>
            </div>
        </div>
        
    </div>
    <div class="info-song">
        <img *ngIf="currentSong.cover_img!=''" src="data:image/jpeg;base64,{{currentSong.cover_img}}">
        <div class="data-song" (click)="openSong()">
            <p class="ellipsis">{{currentSong.name}}</p>
            <p class="ellipsis">{{currentSong.artist_name}}</p>
        </div>
        <div class="buttons">
            
            <i (click)="play()" *ngIf="!isPlayed" class="fa-solid fa-circle-play"></i>
            <i (click)="pause()" *ngIf="isPlayed" class="fa-solid fa-circle-pause"></i>
            <i (click)="next()" class="fa-solid fa-forward-step"></i>
            <i (click)="removeToFav(currentSong)" *ngIf="currentSong.fav" class="fa-solid fa-heart my-icon-color"></i>
            <i (click)="addToFav(currentSong)" *ngIf="!currentSong.fav" class="fa-regular fa-heart"></i>
            
            
            <i (click)="repeat()" class="fa-solid fa-repeat" [ngClass]="{'my-icon-color': isRepeat}"></i>
            
            <input [ngClass]="{'closed-volume-menu': !volumeMenu}" type="range" min="0" max="1" value="0" step="0.01" (input)="setVolume($event)" value="1" id="volume">
            
            <i (click)="openVolume()" class="fa-solid fa-volume-high"></i>

        </div>

    </div>
</div>
    
    
<div id="progress-bar" class="full-h fixed-song" *ngIf="currentSong && displaySong">
    <div class="img-blur" style="background-image: url(data:image/jpeg;base64,{{currentSong.cover_img}});"></div>
    <div class="icon-div" (click)="openSong()"><i class="fa-solid fa-angle-down"></i></div>
    <div class="div-img">
        <img *ngIf="currentSong.cover_img!=''" src="data:image/jpeg;base64,{{currentSong.cover_img}}">
    </div>
    <div class="content-song">
        <div class="data-div">
            <div class="data-song">
                <p class="ellipsis">{{currentSong.name}}</p>
                <p>{{currentSong.artist_name}}</p>
                
            </div>
            <div class="name-buttons">
                <i (click)="removeToFav(currentSong)" *ngIf="currentSong.fav" class="fa-solid fa-heart my-icon-color"></i>
                <i (click)="addToFav(currentSong)" *ngIf="!currentSong.fav" class="fa-regular fa-heart"></i>
                
                
                <i (click)="repeat()" class="fa-solid fa-repeat" [ngClass]="{'my-icon-color': isRepeat}"></i>
                
                <input [ngClass]="{'closed-volume-menu': !volumeMenu}" type="range" min="0" max="1" value="0" step="0.01" (input)="setVolume($event)" value="1" id="volume">
                
                <i (click)="openVolume()" class="fa-solid fa-volume-high"></i>
                
                
            </div>
        </div>
        
        
        <div class="progress-bar-div">
            <input type="range" id="currentMusic" min="0" max="{{durationImput}}" [value]="currentTimeInput" (input)="setTime($event)">
            
            
            <div class="duration">
                <span>{{currentTime}}</span>
                <span>{{duration}}</span>
            </div>
        </div>
        
        <div class="main-buttons">
            <div></div>
            <i (click)="back()" class="fa-solid fa-backward-step"></i>
            <i (click)="play()" *ngIf="!isPlayed" class="fa-solid fa-circle-play"></i>
            <i (click)="pause()" *ngIf="isPlayed" class="fa-solid fa-circle-pause"></i>
            <i (click)="next()" class="fa-solid fa-forward-step"></i>
            <div></div>
        </div>
    </div>
</div>
        <!-- <app-footer *ngIf="showFooter(true);"></app-footer> -->
