<!-- <app-sidenav></app-sidenav> -->
<div *ngIf="showHome();" class="full-h">
    <div *ngIf="favAlbums">
    <h1 class="is-size-1" fxLayoutAlign="center">FAV ALBUM</h1>
    <div class="home-content">
        <div class="card my-card" *ngFor="let item of favAlbums" routerLink="songs/{{item.album_id}}">
            <div class="card-content">
                <img src="data:image/jpeg;base64,{{item.cover_image}}">
                <div>
                    <p class="ellipsis">{{item.name}}</p>
                </div>
            </div>
        </div>
    </div>
</div>

    <h1 class="is-size-1" fxLayoutAlign="center">HOME</h1>
    <!-- PLACEHOLDER -->
    <div class="home-content">
        <div class="card my-card" *ngFor="let item of items" routerLink="songs/{{item.album_id}}">
            <div class="card-content">
                <img src="data:image/jpeg;base64,{{item.cover_image}}">
                <div>
                    <p class="ellipsis">{{item.name}}</p>
                </div>
            </div>
        </div>
        <!-- routerLink="song/{{item.id}}" -->
        <!-- <div class="card my-card" routerLink="songs/1">
            <div class="card-content">
                <img src="../../assets/img/noimage.png">
                <div>
                    <p class="ellipsis">Titulo cancion </p>
                </div>
            </div>
        </div>
        <div class="card my-card" routerLink="songs/2">
            <div class="card-content">
                <img src="../../assets/img/noimage.png">
                <div>
                    <p class="ellipsis">Titulo cancion muuy muy muy muy uuy muy largo</p>
                </div>
            </div>
        </div> -->
    </div>
    
</div>
<router-outlet></router-outlet>
<div id="progress-bar" *ngIf="actualSong && !displaySong">
    <div class="progress-bar-div">
        {{currentTime}}
        <input type="range" id="actualMusic" min="0" max="{{durationImput}}" [value]="currentTimeInput" (input)="setTime($event)">
        {{duration}}
    </div>
    <div class="info-song">
        <img *ngIf="actualSong.cover_img!=''" src="data:image/jpeg;base64,{{actualSong.cover_img}}">
        <div class="data-song" (click)="openSong()">
            <p>{{actualSong.name}}</p>
            <p>{{actualSong.artist_name}}</p>
            <input type="range" min="0" max="1" value="0" step="0.01" (input)="setVolume($event)" value="1">
        </div>
        <i class="fa-solid fa-repeat"></i>

        <i class="fa-solid fa-volume-high"></i>
        <!-- <i class="fa-solid fa-volume-low"></i>
        <i class="fa-solid fa-volume-off"></i>
        <i class="fa-solid fa-volume-xmark"></i> -->
        
        <i (click)="back()" class="fa-solid fa-backward-step"></i>

        <i (click)="play()" *ngIf="!isPlayed" class="fa-solid fa-play"></i>
        <i (click)="pause()" *ngIf="isPlayed" class="fa-solid fa-pause"></i>
        <!-- <i (click)="play()"  class="fa-solid fa-play"></i>
        <i (click)="pause()" class="fa-solid fa-pause"></i> -->
        <i (click)="next()" class="fa-solid fa-forward-step"></i>
    </div>
</div>
<div id="progress-bar" class="full-h fixed-song" *ngIf="actualSong && displaySong">
    <div class="img-blur" style="background-image: url(data:image/jpeg;base64,{{actualSong.cover_img}});"></div>
    <div class="icon-div" (click)="openSong()"><i class="fa-solid fa-angle-down"></i></div>
    <div class="div-img">
        
        <img *ngIf="actualSong.cover_img!=''" src="data:image/jpeg;base64,{{actualSong.cover_img}}">
    </div>
    <div class="content-song">
        <div class="data-song">
                <p>{{actualSong.name}}</p>
                <p>{{actualSong.artist_name}}</p>
                
        </div>

        <div class="progress-bar-div">
            
            <input type="range" id="actualMusic" min="0" max="{{durationImput}}" [value]="currentTimeInput" (input)="setTime($event)">
            
            
            <div class="duration">
                <span>{{currentTime}}</span>
                <span>{{duration}}</span>
            </div>
        </div>

        <div class="info-song">
            
            

            


            <i class="fa-solid fa-repeat"></i>

            <i class="fa-solid fa-volume-high"></i>
            <!-- <i class="fa-solid fa-volume-low"></i>
            <i class="fa-solid fa-volume-off"></i>
            <i class="fa-solid fa-volume-xmark"></i> -->
            
            <i (click)="back()" class="fa-solid fa-backward-step"></i>

            <i (click)="play()" *ngIf="!isPlayed" class="fa-solid fa-play"></i>
            <i (click)="pause()" *ngIf="isPlayed" class="fa-solid fa-pause"></i>
            <!-- <i (click)="play()"  class="fa-solid fa-play"></i>
            <i (click)="pause()" class="fa-solid fa-pause"></i> -->
            <i (click)="next()" class="fa-solid fa-forward-step"></i>
            <input type="range" min="0" max="1" value="0" step="0.01" (input)="setVolume($event)" value="1">
        </div>
    </div>
</div>
<!-- <app-footer *ngIf="showFooter(true);"></app-footer> -->