@use "../../vars" as *;

.my-artist{
    width: 100%;
    div{
        display: flex;
        align-items: center;
        img{
            border-radius: 50%;
            width: 75px;
            height: 75px;
            min-width: 75px;
            min-height: 75px;
            margin-right: 15px;
        }
    }
}
#subMenuSong{
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100%;
    z-index: 5;
    background-color: $black-80;
    ul{
        margin: auto;
        width: 50%;
        .img-li{
            padding: 20px 0;
            display: flex;
            justify-content: center;
            img{
                width: 150px;
                height: 150px;
            }
        }
        .li-center{
            font-weight: bold;
            text-align: center;
        }
        .li-gray{
            font-weight: bold;
            text-align: center;
            color: $gray;
        }
        .add-playlist{
            height: 50px;
            padding: 10px;
        }
        .close{
            &:hover{
                box-shadow: inset -25em 0 0 0 $red;
            }
        }
    }
}