<div class="full-h">
    <h1 class="is-size-4 my-h1" fxLayoutAlign="center">UPLOAD</h1>

    <div class="upload-content">
        <h1 *ngIf="phase == 1" class="is-size-4 my-h1" fxLayoutAlign="center">Select an image and title</h1>
        <div class="fase-1" *ngIf="phase == 1">
            
            <div class="upload">
                <label for="uploadCoverAlbum"><i class="fa-solid fa-pen-to-square is-size-3"></i></label>
                <input accept="image/jpeg,image/x-png" type="file" ngModel name="uploadCoverAlbum" id="uploadCoverAlbum" (change)="uploadCoverALbum($event.target)">
                <img *ngIf="coverAlbumImage" src="{{coverAlbumImage}}">
            </div>

            <form #album="ngForm" (submit)="uploadAlbum(album.value)">
                <input type="text" ngModel name="nameAlbum" autocomplete="off" class="my-input">
                <button *ngIf="coverAlbumImage" class="my-button my-button-confirm">Next</button>
            </form>

        </div>

        <h1 *ngIf="phase == 2" class="is-size-4 my-h1" fxLayoutAlign="center">Upload the music</h1>
        <div class="fase-2" *ngIf="phase == 2">
            <div class="upload">
                <label for="uploadSongs"><i class="fa-solid fa-arrow-up-from-bracket is-size-3"></i></label>
                <input accept="audio/wav,audio/mp3,audio/flac,audio/wma,audio/m4a," type='file' id="uploadSongs" multiple="multiple" ngModel name="img" (change)="uploadSongs($event.target)"/>
                <button *ngIf="filesToUpload" (click)="uploadSongsConfirm()" class="my-button my-button-confirm">Next</button>
            </div>
            
        </div>

        <h1 *ngIf="phase == 3" class="is-size-4 my-h1" fxLayoutAlign="center">Set a name for a track</h1>
        <div class="fase-3" *ngIf="phase == 3">
            <form #namesongs="ngForm" (submit)="uploadNameSongs(namesongs.value)">
                <div *ngFor="let file of filesToUpload; let i=index" class="change-name-div">
                    <label class="ellipsis" for="namesong{{i}}">{{file.name}}</label>
                    <input type="text" ngModel name="namesong{{i}}" id="namesong{{i}}" value="asd" autocomplete="off" class="my-input">
                </div>
                <button *ngIf="filesToUpload" class="my-button my-button-confirm">DONE</button>
            </form>
            
        </div>
        <div class="fase-4" *ngIf="phase == 4">
            <button (click)="publish()" class="my-button my-button-confirm">Publish</button>
        </div>
        <div class="fase-5" *ngIf="phase == 5">
            <p>Published successfully</p>
            <button class="my-button my-button-confirm" routerLink="/home/songs/{{idAlbum}}">Go to album</button>
        </div>
        <div class="cancel-div" *ngIf="phase > 1">
            <button (click)="cancelUpload()" class="my-button my-button-remove">{{phase==5? 'Delete Album': 'Cancel'}}</button>
        </div>
    </div>

    <!-- <div class="upload-content">
        <input type="file" ngModel name="coverAlbum" (change)="uploadCoverALbum($event.target)">
        <form #album="ngForm" (submit)="uploadAlbum(album.value)">
            
            <input type="text" ngModel name="nameAlbum" autocomplete="off">
            <div *ngFor="let file of filesToUpload; let i=index">
                --- <input type="file" ngModel name="file" [value]="file"> 
                <input type="text" ngModel name="namesong{{i}}" id="namesong{{i}}" value="asd" autocomplete="off">
                {{file.name}}
            </div>
            <button *ngIf="filesToUpload">DONE</button>
        </form>
    </div> -->
</div>