<div id="sideNav" class="closeSideNav">
    <ul>
        <li (click)="closeSideNav()" class="slide"><i class="fa-solid fa-xmark"></i></li>

        <li (click)="closeSideNav()" routerLink="." class="slide"><i class="fa-solid fa-house"></i> Home</li>
        <li (click)="closeSideNav()" routerLink="profile" class="slide"><i class="fa-solid fa-user"></i> Profile</li>
        <li (click)="closeSideNav()" routerLink="search" class="slide"><i class="fa-solid fa-magnifying-glass"></i> Search</li>
        <li (click)="closeSideNav()" routerLink="favSongs" class="slide"><i class="fa-solid fa-heart"></i> Favorite songs</li>


        <li (click)="createPlaylist(); init(); closeSideNav()" class="slide"><i class="fa-solid fa-plus"></i> Create Playlist</li>
        <div *ngIf="myPlaylists">
            <li class="slide-separator"><i class="fa-solid fa-compact-disc"></i> My playlists</li>
            <li (click)="closeSideNav()" class="slide ellipsis" *ngFor="let playlist of myPlaylists" routerLink="playlist/{{playlist.playlist_id}}" >
                <i class="fa-solid fa-play"></i> {{playlist.name}}
            </li>
        </div>

        <div *ngIf="favPlaylists">
            <li class="slide-separator"><i class="fa-solid fa-compact-disc"></i> My favorite playlists</li>
            <li (click)="closeSideNav()" class="slide ellipsis" *ngFor="let playlist of favPlaylists" routerLink="playlist/{{playlist.playlist_id}}">
                <i class="fa-solid fa-play"></i> {{playlist.name}}
            </li>
        </div>

        <div *ngIf="favAlbums">
            <li class="slide-separator"><i class="fa-solid fa-compact-disc"></i> My favorite albums</li>
            <li (click)="closeSideNav()" class="slide ellipsis" *ngFor="let album of favAlbums" routerLink="songs/{{album.album_id}}">
                <i class="fa-solid fa-play"></i> {{album.name}}
            </li>
        </div>

        <div *ngIf="favArtist">
            <li class="slide-separator"><i class="fa-solid fa-user-group"></i> My favorite artists</li>
            <li (click)="closeSideNav()" class="slide ellipsis" *ngFor="let artist of favArtist" routerLink="artist/{{artist.artist_id}}">
                <i class="fa-solid fa-user"></i> {{artist.artist_name}}
            </li>
        </div>

        <div *ngIf="user.is_artist">
            <li class="slide-separator"><i class="fa-solid fa-compact-disc"></i> Artist</li>
            <li (click)="closeSideNav()" routerLink="artist/{{user.user_id}}" class="slide"><i class="fa-solid fa-user"></i> Artist profile</li>
            <li (click)="closeSideNav()" routerLink="upload" class="slide"><i class="fa-solid fa-arrow-up-from-bracket"></i> Upload music</li>
        </div>
        <li (click)="logout()" class="slide slide-close">Logout</li>
    </ul>
</div>
<div id="openSideNav">
    <p (click)="closeSideNav(); init()" ><i class="fa-solid fa-bars is-size-4"></i></p>
</div>
