@use "../../vars" as *;

h1{
    background-color: $dark-text-color;
    font-weight: bold;
}
.img-profile{
    display: flex;
    align-items: center;
    margin: 20px;
    img{
        width: 100px;
        height: 100px;
        border-radius: 100%;
        margin-right: 30px;
    }
    .verified-icon{
        position: absolute;
        left: 88px;
        top: 120px;
        z-index: 1;
        i{
            color: $blue-verified;
            font-size: 40px;
        }
    }
    .check{
        left: 100px;
        top: 125px;
        z-index: 2;
        i{
            color:$text-color;
            font-size: 20px;
        }
    }
    .upload-profile-img{
        height: 100px;
        width: 100px;
        display: flex;
        /* margin: 50px; */
        align-items: center;
        justify-content: center;

        position: absolute;
        input{
            visibility: hidden;
            width: 0;
            height: 0;
        }
        label{
            width: 100%;
            height: 100%;
            display: flex;
            border-radius: 100%;
            background-color: $black-50;
            align-items: center;
            justify-content: center;
        }
    }
}
.info-user{
    overflow-x: auto;
    display: flex;
    width: 70%;
    margin: auto;
    padding-bottom: 5%;
    .data-user{
        padding-left: 10px;
    }
    p,.my-input{
        padding-bottom: 5px;
    }        
}
.buttons{
    padding: 15px;
}
.table-data-profile{
    margin: auto;
    width: 70%;
    td{
        padding: 5px;
    }
}

.banner{
    height: 40vh;
    max-height: 150px;
    background-size: cover;
    .edit-banner{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        background-color: $black-50;
        label{
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        input{
            visibility: hidden;
            width: 0;
            height: 0;
        }
    }
}