<div class="full-h">
    <h1 class="is-size-4 my-h1" fxLayoutAlign="center">PROFILE</h1>
    <div class="img-profile is-size-5" >
        <img src="data:image/jpeg;base64,{{img}}" *ngIf="img">
        <div class="verified-icon" *ngIf="user.is_artist">
            <i class="fa-solid fa-certificate"></i>
        </div>
        <div class="verified-icon check" *ngIf="user.is_artist">
            <i class="fa-solid fa-check"></i>
        </div>
        <div class="upload-profile-img" *ngIf="edit">
            <label for="upload"><i class="fa-solid fa-pen-to-square is-size-3"></i></label>
            <input type='file' id="upload" ngModel name="img" (change)="uploadImg($event.target)"/>
        </div>
        
        <div>
            <p>{{user.username}}</p>
            <p>{{user.name}},{{user.surname}}</p>
        </div>
    </div>
    <div class="separator"></div>
    <form #updateProfile="ngForm" (submit)="update(updateProfile.value)">
    <table class="table-data-profile">
        <!-- <tr *ngIf="edit">
            <td>Username:</td>
            <input class="my-input" type="text" ngModel="{{user.username}}" name="username">
        </tr> -->
        <tr *ngIf="edit">
            <td>Name:</td>
            <input class="my-input" type="text" ngModel="{{user.name}}" name="name">
        </tr>
        <tr *ngIf="edit">
            <td>Surname:</td>
            <input  class="my-input" type="text" ngModel="{{user.surname}}" name="surname">
        </tr>
        <tr>
            <td>Email:</td>
            <td *ngIf="!edit">{{user.email}}</td>
            <input *ngIf="edit" class="my-input" type="text" ngModel="{{user.email}}" name="email">
        </tr>
        <tr>
            <td>Telf:</td>
            <td *ngIf="!edit">{{user.tlf}}</td>
            <input *ngIf="edit" class="my-input" type="tel" ngModel="{{user.tlf}}" name="tlf">
        </tr>
        <tr>
            <td>Birth date:</td>
            <td *ngIf="!edit">{{user.birth_date}}</td>
            <input *ngIf="edit" class="my-input" type="date" ngModel="{{user.birth_date}}" name="birth_date">
        </tr>
        <tr *ngIf="edit">
            <td colspan="2">
                <!-- <img src="data:image/jpeg;base64,{{banner}}" *ngIf="banner"> -->
                <div class="banner" style="background-image: url(data:image/jpeg;base64,{{banner}});">
                    <div class="edit-banner">
                        <label for="banner"><i class="fa-solid fa-pen-to-square is-size-3"></i></label>
                        <input type='file' ngModel id="banner" name="banner" (change)="uploadBanner($event.target)"/>
                    </div>
                </div>
            </td>
        </tr>
    </table>
    <div *ngIf="edit" fxLayoutAlign="center" class="buttons">
        <button  class="my-button my-button-confirm" >Submit</button>
    </div>
    
</form>
    <div fxLayoutAlign="center" class="buttons">
        <button (click)="enableEdit();" class="my-button">{{edit? 'Close': 'Edit'}}</button>
    </div>

    
</div>