<div class="hero is-fullheight" gdAlignColumns="center" gdAlignRows="center">
    <div>
        <form class="box my-form" fxFlex="100%" #loginForm="ngForm" (submit)="login(loginForm.value)">
            <div>
                <h1 class="has-text-centered is-size-3 has-text-weight-bold">
                    LOGIN
                </h1>
            </div>
            <div class="field">
            <label class="label">Username</label>
            <div class="control">
                <input class="input" type="text" placeholder="Username" ngModel name="username">
            </div>
            </div>
        
            <div class="field">
            <label class="label">Password</label>
            <div class="control">
                <input class="input" type="password" placeholder="********" ngModel name="password">
            </div>
            </div>
            
            <div>
                <p>You do not have an account? <a routerLink="/register">Register</a></p>
            </div>
        
            <button class="my-button my-button-confirm">Sign in</button>
        </form>
    </div>
</div>