@use '../../vars' as *;

.full-h{
    // overflow: auto;
    min-height: 100vh;
}
.header-song{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0 10% 0 10%;
    transition: 0.3s linear;
    img{
        width: 100px;
        height: 100px;
        margin: 10px 0 10px 0;
    }
    h1{
        text-align: center;
        font-weight: bold;
        padding-bottom: 10px;
    }
    .not-fixed{
        width: 100%;

        .not-fixed-album-title{
            padding: 10px 0;
        }
        p{
            text-align: center;
            padding-bottom: 10px;
        }
        .div-album-buttons{
            width: 80%;
            margin: auto;
            display: flex;
            justify-content: space-between;
            padding-bottom: 10px;
        }
        .div-album-buttons-centered{
            justify-content: center;
        }

    }
    
}
.song-list{
    min-height: 50vh;
    // overflow: auto;
    .song{
        padding:5px 0 5px 0;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        &:hover{
            background-color: $dark-text-color;
        }
        span{
            min-width: 30px;
            padding-right: 10px;;
            padding-right: 10px;
        }
        div{
            display: flex;
            flex-direction: column;
            width: 60%;
        }
        i{
            padding: 0 7px;
        }
    }
}

.fixedClass{
    position: fixed;
    transition: 0.3s linear;
    top: 0px;
    width: 100%;
    background-color: $dark-text-color;
}
.notFixedClass{
    position: static;
    transition: 0.3s linear;
    top: 0px;
    min-height: 250px;
}
.space-header{
    min-height: 250px;
}
.upload-profile-img{
    height: 100px;
    width: 100px;
    display: flex;
    margin: 10px 0 10px 0;
    /* margin: 50px; */
    align-items: center;
    justify-content: center;

    position: absolute;
    input{
        visibility: hidden;
        width: 0;
        height: 0;
    }
    label{
        width: 100%;
        height: 100%;
        display: flex;
        background-color: $black-50;
        align-items: center;
        justify-content: center;
    }
}
.release-date{
    background-color: $dark-text-color;
    text-align: right;
    padding-right: 20px;
    color: $gray;
}