@use '../../vars' as *;


h1{
    background-color: $dark-text-color;
    font-weight: bold;
}

.search-div{
    padding: 10px;
    .search-content{
        display: flex;
        align-items: center;
        background-color: $dark-text-color;
        border-radius: 50px;
        height: 5vh;
        padding: 0 20px 0 20px;
        input{
            width: 100%;
            border: none;
        }
        label{
            cursor: pointer;
        }
        
    }
    .type-search{
        ul{
            display: flex;
            justify-content: space-between;
        }
    }
    button{
        padding: 0;
        color: $text-color;
        background-color: $dark-text-color;
        &:hover {
            color: $dark-text-color;
            box-shadow: inset 0 -3.25em 0 0 $cyan;
        }
    }
    .selected-button{
        background-color: $cyan;
        color: $dark-text-color;
        
    }
    .search-results{
        background-color: $dark-text-color;
        border-radius: 10px;
        padding: 10px;
        .data{
            width: 80%;
        }
        li{
            display: flex;
            align-items: center;
        }
        img{
            margin-right: 10px;
            max-width: 40px;
            max-height: 40px;
        }
    }
}