<div class="full-h">
    <h1 class="is-size-4 my-h1" fxLayoutAlign="center">SEARCH</h1>
    <div class="search-div">
        <div class="search-content">
            <input (input)="search($event.target)" class="my-input" placeholder="Search" autocomplete="off" type="text" ngModel id="search" name="search">
            <label for="search"><i class="fa-solid fa-magnifying-glass"></i></label>
        </div>
        <div class="type-search">
            <ul>
                <li *ngFor="let searchType of searchTypes">
                    <button class="my-button " [ngClass]="{'selected-button': typeToSearch==searchType.type}" (click)="setType(searchType.type)" [value]="searchType.type">{{searchType.name}}</button>
                </li>
            </ul>
        </div>
        <div class="search-results" *ngIf="artists || songs || albums || playlists">
            <ul>
                <div *ngIf="typeToSearch==0||typeToSearch==1">
                    <li *ngIf="artists" class="slide-separator"><i class="fa-solid fa-user"></i> Artists</li>
                    <li *ngFor="let artist of artists" (click)="goToArtist(artist.id)">
                        <img src="data:image/jpeg;base64,{{artist.profile_img}}">
                        <div class="data">
                            <p class="ellipsis">{{artist.username}}</p>
                        </div>
                    </li>
                </div>
                
                <div *ngIf="typeToSearch==0||typeToSearch==2">
                    <li *ngIf="songs" class="slide-separator"><i class="fa-solid fa-music"></i> Songs</li>
                    <li *ngFor="let song of songs; let i=index">
                        <img src="data:image/jpeg;base64,{{song.cover_img}}">
                        <div (click)="load(song)" class="data">
                            <p class="ellipsis">{{song.name}}</p>
                            <p class="ellipsis">{{song.artist_username}}</p>
                        </div>
                        <div>
                            <i (click)="removeToFav(song)" *ngIf="song.fav" class="fa-solid fa-heart my-icon-color"></i>
                            <i (click)="addToFav(song)" *ngIf="!song.fav" class="fa-regular fa-heart"></i>
                            <i (click)="openSubMenu(songs, i)" class="fa-solid fa-ellipsis-vertical"></i>
                        </div>
                    </li>
                </div>
                
                <div *ngIf="typeToSearch==0||typeToSearch==3">
                    <li *ngIf="albums" class="slide-separator"><i class="fa-solid fa-compact-disc"></i> Albums</li>
                    <li *ngFor="let album of albums" routerLink="../songs/{{album.id}}">
                        <img src="data:image/jpeg;base64,{{album.cover_img}}">
                        <div class="data">
                            <p class="ellipsis">{{album.name}}</p>
                        </div>
                    </li>
                </div>
                
                <div *ngIf="typeToSearch==0||typeToSearch==4">
                    <li *ngIf="playlists" class="slide-separator"><i class="fa-solid fa-compact-disc"></i> Playlists</li>
                    <li *ngFor="let playlist of playlists" routerLink="../playlist/{{playlist.playlist_id}}">
                        <img src="data:image/jpeg;base64,{{playlist.playlist_img}}">
                        <div class="data">
                            <p class="ellipsis">{{playlist.name}}</p>
                        </div>
                    </li>
                </div>
                
            </ul>
        </div>
    </div>
    
    
</div>
